<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:shop), spree.root_path %></li>
      <li id="home-link" data-hook><%= link_to "Home", main_app.root_path %></li>
      <li id="home-link" data-hook><%= link_to "Contact", main_app.contact_path %></li>
    </ul>
  </div>
</nav>

<% if spree_current_user %>
  <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
  <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
<% else %>
  <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
<% end %>