<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:shop), spree.root_path %></li>
      <li id="home-link" data-hook><%= link_to "Home", main_app.root_path %></li>
      <li id="home-link" data-hook><%= link_to "Contact", main_app.contact_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook>
      <li id="link-to-cart" data-hook>
        <noscript>
          <%= link_to Spree.t(:cart), '/shop/cart' %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>


<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>

<%= form_tag spree.products_path, method: :get, class: "navbar-form" do %>
  <div class="form-group">
    <% cache(cache_key_for_taxons) do %>
      <%= select_tag :taxon,
            options_for_select([[Spree.t(:all_departments), '']] +
                                  @taxons.map {|t| [t.name, t.id]},
                                  @taxon ? @taxon.id : params[:taxon]), 'aria-label' => 'Taxon', class: "form-control" %>
    <% end %>
  </div>
  <div class="form-group">
    <%= search_field_tag :keywords, params[:keywords], placeholder: Spree.t(:search), class: "form-control" %>
  </div>
  <%= submit_tag Spree.t(:search), name: nil, class: "btn btn-success" %>
<% end %>
